.bsp/
.idea/
.metals/
.bloop/
.ammonite/
.vscode/
metals.sbt
project/project
project/target
target/
.venv
docs/site
.run
indices
indexes
/cache
/docs/.cache
llama.log
package.json
package-lock.json
node_modules
